#titulo {
  color: red;
}

p.texto {
  color: slateblue;
}

p.especial {
  color: mediumseagreen;
}

div p {
  color: aquamarine;
}

div h2, div h3 {
  color: brown;
}

* {
  font-size: 24px;
  color: black;
}

/* .color {
  color: #000000;
} */

/* .color {
  color: rgb(0, 255, 0);
} */

.color {
  border: 5px black solid;
}