.container {
    background: lightsalmon;
    border: 3px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    margin: 0 auto;
    max-width: 700px;
    min-width: 250px;
}

.container div {
    background-color: lightblue;
    border: 2px solid blue;
    min-height: 100px;
    border-radius: 6px;
}

.container div:first-child {
    background: lightgreen;
    border: 2px solid green;
    grid-row: 1 / 3;
}